#peliculasMostrar{
    width:100;
    display: flex;
    flex-wrap: wrap;
}

.pelicula{
    width:200px;
    height:250px;
    border:1px solid black;
}

.incorrecto{
    background-color:rgba(255, 44, 44, 0.6);;
}

.correcto{
    background-color:rgba(48, 191, 44, 0.6);
}

.error{
    color:red;
}

.divInput{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 20px;
    border: solid black 1px;
}

.addForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 100%;
    margin-bottom: 10px;
    
}

.changeForm{
    
    
}


main[id = "edicionForms"]{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main[id = "usuarioForms"]{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 5px;
}

#crearPelicula{
    width: 100%;
}

#cambiarDirector{
    width: 100%;
}

.añadirPelicula{
    width: 50%;
}

.pelicula{
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.form{
    width: 30%;
}

#cambiarDirectorForm{
    width: 100%;
}

textarea[id="inputComentario"]{
    resize: none;
}